html, body {
  background-color: #008901; 
  color: lightgreen;
  margin: 10px;
  font-family: system-ui, sans-serif;
}

.App {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  grid-template-rows: .2em 2fr 4fr;
  grid-row-gap: 3em;
  grid-template-areas: 
  "timer timer timer"
  "deck . stack"
  "pile pile pile"
}


.timer {
  text-align: center;
  font-size: 1em;
  grid-area: timer;
}

.deck {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  grid-area: deck;
}

.stacks {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  grid-area: stack;
  /* background-color: red; */
}

.piles {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around; 
  grid-area: pile;
  /* background-color: blue; */
}

.timer {

}
